<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" />
    </head>
    <body>
        <h1>Clientes</h1>

        <-<!--  <a th:href="@{/nuevo}">Registrar Nuevo</a> -->

        <table border="1">
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>DNI</th>
                <th>Acciones</th>
            </tr>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.nombre}">Nombre</td>
                <td th:text="${cliente.correo}">Correo</td>
                <td th:text="${cliente.dni}">DNI</td>
             
            </tr>
        </table>
    </body>
</html>
